<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir.com{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/style.css') }}?v=10">
    <link href="https://cdn.jsdelivr.net/npm/tom-select/dist/css/tom-select.css" rel="stylesheet">

    <script defer src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>


    {% block stylesheets %}{% endblock %}
</head>

<body>
{% include 'shared/header.html.twig' %}

{% block body %}{% endblock %}

{% include 'shared/footer.html.twig' %}

<script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js?v=4"></script>

{% block javascripts %}
    {{ importmap('app') }}
{% endblock %}
</body>
</html>
